<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
   <h1>Sumas Y Restas con un solo digito</h1>
   
   <h3>Ejercicio 1</h3>
   <h3>¿Cuanto es 4-2?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button> 
   
   <h3>Ejercicio 2</h3>
   <h3>¿Cuanto es 5+3?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
   
   <h3>Ejercicio 3</h3>
   <h3>¿Cuanto es 6-3?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h3>Ejercicio 4</h3>
   <h3>¿Cuanto es 4+6?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h3>Ejercicio 5</h3>
   <h3>¿Cuanto es 7-0?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h3>Ejercicio 6</h3>
   <h3>¿Cuanto es 8+0?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h1>Sumas y Restas con dos digitos</h1>

   <h3>Ejercicio 1</h3>
   <h3>¿Cuanto es 22-14?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
   
   <h3>Ejercicio 2</h3>
   <h3>¿Cuanto es 15+30?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
   
   <h3>Ejercicio 3</h3>
   <h3>¿Cuanto es 81-51?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h3>Ejercicio 4</h3>
   <h3>¿Cuanto es 67+26?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h3>Ejercicio 5</h3>
   <h3>¿Cuanto es 45-13?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h3>Ejercicio 6</h3>
   <h3>¿Cuanto es 51+20?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h1>Sumas y Restas con tres digitos</h1>

   <h3>Ejercicio 1</h3>
   <h3>¿Cuanto es 115+50?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h3>Ejercicio 2</h3>
   <h3>¿Cuanto es 350+100?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h3>Ejercicio 3</h3>
   <h3>¿Cuanto es 460-25?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

   <h3>Ejercicio 4</h3>
   <h3>¿Cuanto es 500-250?</h3>
   <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
   <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>

</form>