<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <h1>Sumas Y Restas de Fracciones</h1>
    
    <h3>Ejercicio 1</h3>
    <h3>¿Cuanto es 4/2 + 6/3?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button> 
    
    <h3>Ejercicio 2</h3>
    <h3>¿Cuanto es 2/3 + 1/2?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
    
    <h3>Ejercicio 3</h3>
    <h3>¿Cuanto es 5/4 + 4/5?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 4</h3>
    <h3>¿Cuanto es 1/4 - 1/4?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 5</h3>
    <h3>¿Cuanto es 4/5 - 6/3?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 6</h3>
    <h3>¿Cuanto es 9/8 - 4/8?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h1>Multiplicacion de Fracciones</h1>
 
    <h3>Ejercicio 1</h3>
    <h3>¿Cuanto es 3/4 * 4?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
    
    <h3>Ejercicio 2</h3>
    <h3>¿Cuanto es 1/6 * 3?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
    
    <h3>Ejercicio 3</h3>
    <h3>¿Cuanto es 2/3 * 1/5?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 4</h3>
    <h3>¿Cuanto es 6/7 * 5/9?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 5</h3>
    <h3>¿Cuanto es los 3/4 de 30?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 6</h3>
    <h3>¿Cuanto es los 9/5 de 45?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h1>Division de Fracciones</h1>
 
    <h3>Ejercicio 1</h3>
    <h3>¿Cuanto es 1/2 : 2?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 2</h3>
    <h3>¿Cuanto es 3/4 : 1:2?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 3</h3>
    <h3>¿Cuanto es 5/6 : 3/2?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 4</h3>
    <h3>¿Cuanto es 4/7 : 7/8?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
 </form>
