<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <h1>Multiplicaciones y Divisiones con un digito</h1>
    
    <h3>Ejercicio 1</h3>
    <h3>¿Cuanto es 5*1?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button> 
    
    <h3>Ejercicio 2</h3>
    <h3>¿Cuanto es 4*4?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
    
    <h3>Ejercicio 3</h3>
    <h3>¿Cuanto es 7*8?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 4</h3>
    <h3>¿Cuanto es 2:1?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 5</h3>
    <h3>¿Cuanto es 6:3?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 6</h3>
    <h3>¿Cuanto es 8:2?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h1>Multiplicacion y Division con dos digitos</h1>
 
    <h3>Ejercicio 1</h3>
    <h3>¿Cuanto es 10*4?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
    
    <h3>Ejercicio 2</h3>
    <h3>¿Cuanto es 32*10?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
    
    <h3>Ejercicio 3</h3>
    <h3>¿Cuanto es 45*15?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 4</h3>
    <h3>¿Cuanto es 45:5?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 5</h3>
    <h3>¿Cuanto es 80:10?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
    <h3>Ejercicio 6</h3>
    <h3>¿Cuanto es 75:25?</h3>
    <input type ="text" formControlName="respuesta"  placeholder="Respuesta">
    <button class="button" type="submit" [disabled]="checkoutForm.valid">Enviar Respuesta</button>
 
 
 </form>
